:root {
    /*cores*/

    --rosa_fundo: #f59b71;
    --azul_botao: #2b4c7e;
    --verde_botao: #0a8967;
    --branco: #ffffff;
    
}

body{
    color: var(--branco) ;
    background-color: var(--rosa_fundo);
}

.learn{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;

}

.learn_primeira_linha{
    font-size: 25px;
    width: 70%; 
}

.learm_segunda_linha{
    font-size: 50px;   

}
.teste_gratis{
    border-radius: 8px;
    padding: 1.2em;
    background-color: var(--azul_botao);
    color: var(--branco);
    justify-content: center;

}

form{
    width: 20em;
    font-size: 1em;
}

form fieldset{
    border: 1px solid;
    padding: 0 0.5em;
    
}
form legend{
    padding: 0 0.5em;
    border: 1px solid;
}
.solicite{
    color: var(--branco);
    background-color: var(--verde_botao);
}